server:
  port: 8098
spring:
  application:
    name: xyhs-basecenter
  jackson:
      date-format: yyyy-MM-dd HH:mm:ss
      time-zone: GMT+8
  profiles:
    active: dev
  resources:
     static-locations: classpath:/resources/

