server:
  port: 8089
spring:
  application:
    name: xyhs-basecenter
  jackson:
      date-format: yyyy-MM-dd HH:mm:ss
      time-zone: GMT+8
  profiles:
    active: dev
  resources:
     static-locations: classpath:/resources/
#mybatis-plus:
  # configuration:
      # 这个配置会将执行的sql打印出来，在开发或测试的时候可以用
   #   log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
feign:
  httpclient:
    enabled: false
  okhttp:
    enabled: true
  hystrix:
    enabled: true
    client:
      config:
        default:
          connectTimeOut: 2000
          readTimeOut: 2000
## mybatis
#mybatis-plus:
#  mapper-locations: classpath*:/resources/mapper
#  #实体扫描，多个package用逗号或者分号分隔
#  typeAliasesPackage: com.xyhs.b2c.**.entity
#  #typeEnumsPackage: org.springblade.dashboard.entity.enums
#  global-config:
#    # 关闭MP3.0自带的banner
#    banner: false
#    db-config:
#      #主键类型  0:"数据库ID自增", 1:"不操作", 2:"用户输入ID",3:"数字型snowflake", 4:"全局唯一ID UUID", 5:"字符串型snowflake";
#      id-type: id_worker
#      #字段策略
#      insert-strategy: not_null
#      update-strategy: not_null
#      select-strategy: not_null
#      #驼峰下划线转换
#      table-underline: true
#      # 逻辑删除配置
#      # 逻辑删除全局值（1表示已删除，这也是Mybatis Plus的默认配置）
#      logic-delete-value: 1
#      # 逻辑未删除全局值（0表示未删除，这也是Mybatis Plus的默认配置）
#      logic-not-delete-value: 0
#  configuration:
#    map-underscore-to-camel-case: true
#    cache-enabled: false
